---
import './footer.css'

const TEXT_COPYRIGHT = `Site design / logo © ${new Date().getFullYear()} Acme Corporation`
---

<footer class="m-footer">
	<div class="m-footer__wrapper mx-auto text-secondary p-5">{TEXT_COPYRIGHT}</div>
</footer>
