---
import './header.css'
---

<header class="m-header fixed">
	<nav class="m-header__navigation flex items-center mx-auto px-5 gap-5">
		<a class="link" href="/">Home</a>
		<a class="link" href="/about">About</a>
	</nav>
</header>
