---
import CounterState from 'src/common/components/counter-state.jsx'

import './header.css'
---

<header class="m-header fixed" id="header">
	<nav class="m-header__navigation flex items-center mx-auto px-5 gap-5">
		<a class="link" href="/">Home</a>
		<a class="link" href="/about">About</a>
		<div class="ml-auto">
			<CounterState client:only />
		</div>
	</nav>
</header>
