---
import Footer from './footer/footer.astro'
import Header from './header/header.astro'
import './base.css'
---

<Header transition:persist />
<main class="m-main mx-auto px-5 pt-20" transition:animate="fade">
	<slot />
</main>
<Footer />
