---
import BaseLayout from 'src/layouts/base.astro'
import Document from 'src/layouts/document.astro';
---

<Document title="About">
	<BaseLayout>
		<h1 class="text-display-md">About</h1>
		<a class="link" href="/">Home</a>
	</BaseLayout>
</Document>
