---
import BaseLayout from 'src/layouts/base/base.astro'
import Document from 'src/layouts/document.astro';
---

<Document title="About · Acme">
	<BaseLayout>
		<h1 class="text-display-md">About</h1>
	</BaseLayout>
</Document>
