---
import Layout from 'src/layouts/layout.astro';
---

<Layout title="About">
	<main>
		<h1>About</h1>
		<a href="/">Home</a>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
