---
import Counter from 'src/common/components/counter/counter'
import CounterState from 'src/common/components/counter-state'
import BaseLayout from 'src/layouts/base/base.astro'
import Document from 'src/layouts/document.astro'
---

<Document title="Acme">
	<BaseLayout>
		<h1 class="text-display-md">Home</h1>
		<Counter client:load />
		<CounterState client:load />
	</BaseLayout>
</Document>
