---
import Counter from 'src/common/components/counter/counter'
import CurrentUser from 'src/common/components/current-user.astro'
import Layout from 'src/layouts/layout.astro'

export const prerender = false
---

<Layout title="Welcome to Astro.">
	<main class="bg-container border-b-solid border-outline flex flex-col items-center p-5 gap-5">
		<h1 class="text-display-md">Welcome to Astro</h1>
		<CurrentUser />
		<a class="link" href="/about">About</a>
		<Counter count={10} client:visible />
	</main>
</Layout>
