---
import { ViewTransitions } from 'astro:transitions'
import RelaodApp from 'src/common/components/reload-app/reload-app.jsx'

import 'ui/styles/index.css'

export interface Props {
	title: string;
	description?: string;
	lang?: string;
}

const { title, description, lang='en' } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang} transition:animate="none">
	<head>
		<meta charset="UTF-8" />
		{description && <meta name="description" content={description} />}
		<meta name="viewport" content="width=device-width" />
		<meta name="color-scheme" content="dark light" />
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="#f9f9f9">
		<meta name="theme-color" media="(prefers-color-scheme: dark)"  content="#17181c">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<ViewTransitions />
		<script>
			document.addEventListener('astro:page-load', () => console.warn('PAGE_LOAD'));
		</script>
	</head>
	<body>
		<RelaodApp client:only>
			<slot />
		</RelaodApp>
	</body>
</html>
