---
import 'ui/styles/index.css'

export interface Props {
	title: string;
	description?: string;
	lang?: string;
}

const { title, description, lang='en' } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		{description && <meta name="description" content={description} />}
		<meta name="viewport" content="width=device-width" />
		<meta name="color-scheme" content="dark light" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
